doctype html
html
    head
        title='Drunkerbot Status Page'
        //- link(rel='stylesheet', title='light' href='/stylesheets/style_light.css')
        link(rel='stylesheet', href='/stylesheets/jquery/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style_dark.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        script(src='/scripts/moment.js')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
            var drunkerstatus = !{JSON.stringify(drunkerstatus)};
            var dboxes = !{JSON.stringify(dboxes)};
            $( function() {
                $( "#accordion" ).accordion();
            } );
            $( function() {
                $( "#tabs" ).tabs();
            } );
    body
        div#bodyholder
            div#banner
                h1= 'Drunkerboxes Live Status: ' + drunkerstatus.state
            if (drunkerstatus.state == true)
                div#livebox
                    img(src=drunkerstatus.hostpic height='32' width='32')
                    a(href=drunkerstatus.url) Stream Link
                    p= 'Host: ' + drunkerstatus.hostname + ' '
            div#linksbox
                p
                    a(href='https://github.com/HardWareFlare/drunkerbot') DrunkerBot Code Repo
                    br
                    a(href='https://github.com/IntPirate/DrunkerBoxes') DrunkerTracker Code Repo
            div#tabs
                ul
                    li
                        a(href='#tabs-1') Streams
                    li
                        a(href='#tabs-2') Top 10
                    li
                        a(href='#tabs-3') Stats
                div#tabs-1
                    div#accordion
                        for value, index in dboxes
                            h3= '#' + (dboxes.length - index) + ' streamed on '
                                script= 'document.write(moment.unix(' + value.starttime + ').format(\'M/D/YY HH:mm\'));'
                            
                            div
                                div
                                    p= value.hostname
                                        img(height='32', width='32' src=value.hostpic)
                                        a(href=value.url) Link
                                    if value.stoptime !== null
                                        p
                                            |Finished on: 
                                            script= 'document.write(moment.unix(' + value.stoptime + ').format(\'M/D/YY HH:mm\'));'
                                            
                div#tabs-2
                    div.dootRow
                        div.dootCell.dootCellName= 'User'
                        div.dootCell.dootCellDouble= 'Doots'
                        div.dootCell= 'Messages'
                    for value, index in doots
                        div.dootRow
                            div.dootCell.dootCellName= doots[index].fanname
                            div.dootCell.updootText.dootCellAlt= doots[index].updootcount/100
                            div.dootCell.downdootText= doots[index].downdootcount/100
                            div.dootCell.dootCellAlt= doots[index].msgcount
                div#tabs-3
                    div
                        p= 'App Version: ' + dbotstats.appver
                        p= 'Times Started: ' + dbotstats.restarts
                        p
                            |Last Started: 
                            script= 'document.write(moment.unix(' + dbotstats.laststart + ').format(\'M/D/YY HH:mm\'));'
                            
                        p= 'Website Hits: ' + dbotstats.webhits
